@media (min-width: 1050px) {
  header {
    .header_holder {
      justify-content: space-between;
    }

    .menu-wrap {
      display: none;
    }

    .header_desktop_buttons {
      display: flex;
    }

    .btn_invite {
      display: flex;
    }
  }

  #section_hero {
    position: relative;
    padding: 4rem 0 4rem 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: hidden;

    .hero_holder {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      height: 100%;
      width: 100%;
      padding-bottom: 0rem;
      margin-bottom: -5rem;

      .hero_left {
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        justify-content: start;
        align-items: start;
        width: 25rem;
        gap: 2rem;

        h1 {
          text-align: start;
        }

        p {
          text-align: start;
        }
      }

      .hero_right {
        position: relative;
        width: 100%;
        height: 70vh;
        z-index: 1;
        grid-column: 2;
        grid-row: 1;

        .img_ {
          &intro {
            content: url("../images/bg-intro-desktop.svg");
            position: absolute;
            width: 100rem;
            height: 1200px;
            background-size: 200%;
            transform: translateY(-30%);
            max-width: none;
          }
          &mobiles {
            content: url("../images/image-mockups.png");
            position: absolute;
            top: -10rem;
            // transform: translateX(50);
            height: 50rem;
            right: -550px;
            width: 35rem;
            max-width: 50rem;
            left: auto;

            z-index: 3;

            // margin-bottom: -30rem;
          }
        }
      }
    }
  }

  #section_testimonials {
    position: relative;
    z-index: 1;
    & > div {
      margin: 2rem 0 0 0;
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
    }
    .testimonials_ {
      &upper {
        align-self: flex-start;
        justify-content: flex-start;
        align-items: flex-start;

        h2 {
          text-align: start;
        }
        p {
          text-align: start;
        }
      }
      &lower {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .testimonial {
    align-items: flex-start;
    padding-left: 0rem;

    p {
      text-align: start;
    }
  }

  #section_articles {
    .articles_holder {
      align-items: start;
      .articles_pages {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  .article {
    img {
      height: 10.5rem;
    }
    .article_text {
      h4 {
        &:hover {
          cursor: pointer;
          color: $lime_green;
        }
      }
    }
  }

  .container {
    padding: 0;
    max-width: 600px;
  }

  .container_testimonial {
    padding: 0;
    max-width: none;
  }

  footer {
    .footer_holder {
      margin-top: 2rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .footer_content_divider_1 {
        flex-direction: row;
        gap: 4rem;
      }
    }

    .logo_and_icons_holder {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;

      .icons_holder {
        img {
          &:hover {
            filter: brightness(0%) saturate(100%) invert(95%) sepia(89%)
              saturate(3375%) hue-rotate(59deg) brightness(88%) contrast(86%);
          }
        }
      }
    }

    .links {
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      p {
        text-align: start;

        &:hover {
          color: $lime_green;
          cursor: pointer;
        }
      }
    }
  }
}
